$text-color-primary: rgba(97, 99, 99, 1); // #616363
$text-color-secondary: rgba(143, 148, 148, 1);
$text-color-error: rgba(239, 26, 26, 1);
$text-color-success: rgba(25, 135, 84, 1);

$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);

$color-grey-lightest: rgb(247, 246, 246);
$color-grey-lighter: rgb(235, 233, 233);
$color-grey-light: rgb(207, 207, 207);
$color-grey: rgb(177, 177, 177);

$color-green-lightest: rgb(251, 253, 253);
$color-green-lighter: rgb(240, 249, 249);
$color-green-light: rgba(218, 233, 233, 1);
$color-green-light-hover: rgba(236, 246, 246, 1);
$color-green-medium: rgba(168, 203, 203, 1);
$color-green-medium-hover: rgb(116, 172, 172);
$color-green-dark: rgba(6, 89, 89, 1); // #065959
$color-green-dark-hover: rgba(5, 130, 130, 1);

$color-blue-word: rgba(24, 90, 189, 1);
$color-green-xls: rgba(24, 92, 55, 1);
$color-grey-other: rgba(100, 97, 97, 1);

$modal-bg-color: rgba(0, 0, 0, 0.5);
$box-shadow-color: rgba(0, 0, 0, 0.33);
