$text-color-primary: rgba(97, 99, 99, 1);
$text-color-secondary: rgba(143, 148, 148, 1);
$text-color-error: rgba(239, 26, 26, 1);
$text-color-success: rgba(25, 135, 84, 1);

$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);


$color-green-light: rgba(218, 233, 233, 1);
$color-green-medium: rgba(168, 203, 203, 1);
$color-green-dark: rgba(6, 89, 89, 1);
$color-green-dark-hover: rgba(5, 130, 130, 1);