@mixin xsmallScreen {
  @media (min-width: $screen-xs) {
    @content;
  }
}

@mixin smallScreen {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin mediumScreen {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin mediumScreenPlus {
  @media (min-width: $screen-md-plus) {
    @content;
  }
}

@mixin largeScreen {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin largeScreenPlus {
  @media (min-width: $screen-lg-plus) {
    @content;
  }
}

@mixin xlargeScreen {
  @media (min-width: $screen-xl) {
    @content;
  }
}

@mixin xxlargeScreen {
  @media (min-width: $screen-xxl) {
    @content;
  }
}

@mixin cropText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin customScrollbarGreen {
  overflow-y: auto;
  /* Width */
  &::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-grey-lighter;
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color-green-dark;
    border-top-right-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-green-dark-hover;
  }
}

@mixin customScrollbarGray {
  overflow-y: auto;
  /* Width */
  &::-webkit-scrollbar {
    width: 8px;
  }
  /* Track */
  &::-webkit-scrollbar-track {
    background: $color-grey-lighter;
    border-radius: $base-border-radius;
  }
  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $text-color-secondary;
    border-radius: $base-border-radius;
  }
  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: $color-grey;
  }
}