@mixin smallScreen {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin mediumScreen {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin largeScreen {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin extraLargeScreen {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin buttonDescription {
  background-color: $text-color-primary;
  display: inline-block;
  color: $color-grey-lighter;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.75rem;
  position: absolute;
}
