@import "./font.scss";
@import "./colors.scss";
@import "./breakpoints.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $text-color-primary;
  margin: 0 auto;
  width: 100vw;
  overflow-x: hidden;
}

body.no-scroll {
  overflow-y: hidden;
}

a {
  cursor: pointer;
}

button {
  background-color: transparent;
  cursor: pointer;
}
