@import "./font.scss";
@import "./colors.scss";
@import "./breakpoints.scss";
@import "./other.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: $font-primary;
  color: $text-color-primary;
  margin: 0 auto;
  overflow-y: hidden;
  @include mediumScreen {
    overflow-y: auto;
  }
}

body.no-scroll {
  overflow-y: hidden;
}

a {
  cursor: pointer;
}

button {
  background-color: transparent;
  cursor: pointer;
}
